h3{
    margin-bottom: 20px;
}

.smsg{
    width: 100%;
    text-align: center;
}

a{
    margin-inline: 30px;
}

.img_container img {
    display: block;
    height: 150px;
    width: 150px;
}

.img_container img:hover {
   cursor: pointer;
}

.game_info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10%;
}

.game_container{
    width: 90%;
}

.options{
    margin-top: 0 !important;
}

.game_section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}