* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url("image\ \(1\).jpeg");
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
} 

button {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(247, 249, 249);
    color: rgb(255, 1, 1);
    transition: box-shadow 0.4s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgb(235, 11, 11);
    color: rgb(247, 249, 249);
    box-shadow: 0 0 10px white;
}

h1 { 
    text-align: center;
}

.headding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 70px;
    background-color: rgb(31, 30, 30);
    font-size: 20px;
}

.headding div{
    margin-inline: 30px;
}

.sub_headd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.sub_headd i{
   margin-bottom: 8px;
}
.sub_headd:hover{
   color: aqua;
   cursor: pointer;
}


.message {
    height: 330px;
    width: 500px;
    border: 2px soild transparent;
    border-radius: 10px;
    background-image: url("v882-kul-55.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.message_content {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.message_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}

.options img {
    display: block;
    height: 100px;
    width: 100px;
    margin-inline: 60px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}


.options img:hover {
    box-shadow: 0 0 10px white;
}

.game_section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_container {
    width: 75%;
    height: 75%;
    background-image: url("v882-kul-55.jpg");
    background-size: cover;
    border-radius: 20px;
}

.game_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-inline: 50px;
}

.game_score {
    font-size: 25px;
    background-color: rgb(27, 65, 73);
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 10px;
}


.game_container h2 {
    text-align: center;
    margin-block: 15px;
    font-size: 30px;
}

.img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
}

.img_container button {
    margin-top: 30px;
}

.match_score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game_scor {
    font-size: 30px;
}


/* -------------------------------------------------------- */

.multiplayer_area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.mul_game_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    background-color: rgb(27, 65, 73);
    color: rgb(255, 255, 255);
    padding: 6px;
    position: absolute;
    top: 11%;
}

.tdot_show{
    position: absolute;
    left: -200px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(30, 29, 29, 0.776);
}

.mul_info{
    width: 30%;
    text-align: center;
}

.info{
    margin-top: 20px;
    font-size: 20px;
}

.tdot_hide{
    position: absolute;
    left: 0;
}

/* for js */

.invisible {
    display: none;
}

.invisible2 {
    display: none;
}

#box {
    display: none;
}

#box1 {
    display: none;
}

.tdot{
    margin: 0;
    display: none;
}

@media screen and (max-width: 991px) {
    body {
        width: 100vw;
        height: 100vh;
        background-size: 100%;
        background-position: center;
        overflow: auto;
    }

    h1 {
        font-size: 30px;
    }

    .message {
        margin-inline: 20px;
    }

    .message_container {
        margin-top: 50px;
    }

    .options img {
        display: block;
        height: 150px;
        width: 150px;
        margin-inline: 5px;
    }

    .game_container {
        width: 90%;
        height: 450px;
    }

    .game_score {
        font-size: 20px;
    }

    .game_container h2 {
        text-align: center;
        margin-block: 15px;
        font-size: 25px;
    }

    .game_scor {
        font-size: 20px;
    }

    .game_section {
        margin-top: 70px;
    }

    .options {
        margin-top: 70px;
    }

    img {
        margin-bottom: 50px;
    }
    .tdot{
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        margin: 0 !important;
    }

    .headding{
        justify-content: center;
    }
    .hambrg{
        display: none;
    }

}

@media screen and (max-width: 479px) {
    body {
        width: 100dvw;
        height: 100dvh;
        background-size: 350%;
        background-position: center;
        overflow: auto;
    }

    h1 {
        font-size: 25px;
    }

    .options img {
        display: block;
        height: 100px;
        width: 100px;
        margin-inline: 5px;
    }

    .message {
        margin-inline: 20px;
    }

    .game_section {
        margin-top: 50px;
    }

    .options {
        margin-top: 40px;
    }

    img {
        margin-bottom: 50px;
    }

    .match_score {
        margin-top: 50px;
    }

    .smsg {
        padding-block: 20px;
    }

    .message_container {
        margin-top: 50px;
    }

    .mul_game_container{
        font-size: 20px;
    }

}