* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url("image\ \(1\).jpeg");
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(247, 249, 249);
    color: rgb(255, 1, 1);
    transition: box-shadow 0.4s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgb(235, 11, 11);
    color: rgb(247, 249, 249);
    box-shadow: 0 0 10px white;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 70px;
    background-color: rgb(31, 30, 30);
}

.headding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    height: 330px;
    width: 500px;
    border: 2px soild transparent;
    border-radius: 10px;
    background-image: url("v882-kul-55.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.message_content {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.message_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.options img {
    display: block;
    height: 200px;
    width: 200px;
    margin-inline: 60px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.options img:hover {
    box-shadow: 0 0 10px white;
}

.game_section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_container {
    width: 90%;
    height: 450px;
    background-image: url("v882-kul-55.jpg");
    background-size: cover;
    border-radius: 20px;
}

.game_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-inline: 50px;
}

.game_score {
    font-size: 25px;
    background-color: rgb(27, 65, 73);
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 10px;
}


.game_container h2 {
    text-align: center;
    margin-block: 15px;
    font-size: 30px;
}

.img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
}

.img_container button {
    margin-top: 30px;
}

.match_score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game_scor {
    font-size: 30px;
}

/*Extra classes for js*/

.invisible {
    display: none;
}

.invisible2 {
    display: none;
}

#box {
    display: none;
}

#box1 {
    display: none;
}